(
    data: {
        "ryan.sauge@gmail.com": (
            email: "ryan.sauge@gmail.com",
            password: "Q67IRMdOKcP9zelbdI+0Fqg0A0U63+ZGsTZJzOe0u3s",
            salt: "c3x3lPivEdwO700sjAJjIg",
            public_key: [
                4,
                163,
                249,
                27,
                90,
                148,
                216,
                195,
                134,
                51,
                234,
                14,
                59,
                190,
                65,
                247,
                28,
                145,
                226,
                99,
                16,
                47,
                48,
                6,
                188,
                85,
                199,
                17,
                183,
                107,
                57,
                175,
                7,
                45,
                172,
                108,
                130,
                242,
                72,
                112,
                223,
                203,
                90,
                139,
                76,
                168,
                212,
                183,
                230,
                118,
                228,
                51,
                238,
                123,
                33,
                140,
                109,
                155,
                39,
                232,
                32,
                128,
                156,
                98,
                246,
            ],
            fa_2: true,
        ),
    },
)